.ShipList {
  margin-bottom: 1em;
  border: 1px solid #555;
  padding: 10px;
}

.ShipGrid {
  margin-bottom: 1em;
}

.ShipRow,
.ShipRowHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.ShipRowHeader {
  font-weight: bold;
  margin-bottom: 0.5em;
}
